p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 20px;
}

.profile-card {
    display: inline-block;
    vertical-align: top;
    box-shadow:rgba(0, 0, 0.01) 0px 0px 5px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profile-info {
    margin-left: 10px;
}

.name {
    font-weight: bold;
}

.grid-mutual {
    display: grid;
    grid-template-columns: 35px 1fr;
}

.mutual-profiles {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
    vertical-align: middle;
}

.mutual-friends {
    margin-left: 6px;
    font-size: 14px;
    color: grey;
    vertical-align: middle;
}

.button {
    display: block;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 7px;
    background-color: rgb(25, 139, 226);
    transition: opacity 0.15s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.button:active {
    opacity: 0.5;
}